RewriteEngine On

#
# Note: HTTPS upgrade has been done in CloudFlare configuration
#

RedirectMatch 301 ^/$ https://keyman.com/downloads/

#
# .kmx, .kmp should not be treated as a ZIP file
#

AddType application/octet-stream .kmp .kmx
