RewriteEngine On

#
# Note: HTTPS upgrade has been done in CloudFlare configuration
#

RedirectMatch 301 ^/$ https://keyman.com/downloads/

#
# .kmx, .kmp should not be treated as a ZIP file
#

AddType application/x-keyman-package .kmp
AddType application/x-keyman-keyboard .kmx
AddType application/json .keyboard_info
AddType application/json .model_info
AddType application/json .download_info
AddCharset UTF-8 .js
AddCharset UTF-8 .keyboard_info
AddCharset UTF-8 .model_info
AddCharset UTF-8 .download_info

#
# Keep rules following this point in sync with web.config
#

#
# Rewrite windows/tier/version/keyman-setup+...exe bootstraps
#
# We also have a similar rule in our cloudflare front end, to improve
# caching:
#    (http.request.full_uri matches "https://downloads.keyman.com/windows/[^/]+/[^/]+/keyman-setup.(.+).exe")
# Rewrite to:
#    regex_replace(http.request.uri.path, "/windows/([^/]+)/([^/]+)/keyman-setup.(.+).exe(.*)", "/windows/${1}/${2}/setup.exe${4}")
#

RewriteRule ^windows/(alpha|beta|stable)/((\d+\.)+\d+)/keyman-setup(\..+)?\.exe$ windows/$1/$2/setup.exe [L]

#
# We want to lower-case all module names in the Symbol Server folders, so that we can treat
# them all as case-insensitive. This is important because Windows is not case-sensitive, so
# it can be fairly arbitrary on file names.
#
# This depends on the following RewriteMap rule set in /etc/apache2/...conf
#
#    RewriteMap lc int:tolower
#
# For example:
#    https://downloads.keyman.com/windows/symbols/TIKE.EXE/636562DBfc6000/Tike.ex_
#
# Will get rewritten to:
#    https://downloads.keyman.com/windows/symbols/tike.exe/636562DBfc6000/tike.ex_
#
RewriteRule ^windows/symbols/([^/]+)/([^/]+)/(.+)$ windows/symbols/${lc:$1}/$2/${lc:$3} [R]
RewriteRule ^windows/symbols/([^/]+)/([^/]+)/?$ windows/symbols/${lc:$1}/$2/ [R]
RewriteRule ^windows/symbols/([^/]+)/?$ windows/symbols/${lc:$1}/ [R]
