<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- keep this file in sync with .htaccess -->
  <system.webServer>
    <rewrite>
      <rules>
        <!-- note: skip root redirect for local webservers; it's just a pain for development -->

        <rule name="Rewrite Keyman for Windows setup bootstrap" stopProcessing="true">
          <match url="^windows/(alpha|beta|stable)/((\d+\.)+\d+)/keyman-setup(\..+)?\.exe$" />
          <action type="Rewrite" url="windows/{R:1}/{R:2}/setup.exe" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
