# Keep this file in sync with web.config
RewriteEngine On
RewriteRule ^version$ versioninfo.php [L]
RewriteRule ^version/(1.0|2.0)$ versioninfo.php?version=$1 [L]
RewriteRule ^version/(android|ios|linux|mac|web|windows|developer)$ versioninfo.php?platform=$1 [L]
RewriteRule ^version/(android|ios|linux|mac|web|windows|developer)/(1.0|2.0)$ versioninfo.php?platform=$1&version=$2 [L]

RewriteRule ^history/(android|ios|linux|mac|web|windows|developer)$ historydata.php?platform=$1 [L]

RewriteRule ^keyboard/(1.0)/(.+)$ keyboard.php?version=$1&id=$2 [L]
RewriteRule ^keyboard/(.+)$ keyboard.php?id=$1 [L]

RewriteRule ^model/(1.0)/(.+)$ model.php?version=$1&id=$2 [L]
RewriteRule ^model/(.+)$ model.php?id=$1 [L]

RewriteRule ^bundles(/?)$ bundles.php?q=all [L]
RewriteRule ^bundles/(.+)$ bundles.php?q=$1 [L]
RewriteRule ^bundles/1.0(/?)$ bundles.php?q=all [L]
RewriteRule ^bundles/1.0/(.+)$ bundles.php?q=$1 [L]
