<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- keep this file in sync with .htaccess -->
  <system.webServer>
    <rewrite>
      <rules>
        <!-- version -->
        <rule name="version" stopProcessing="true">
          <match url="^version$" />
          <action type="Rewrite" url="versioninfo.php" appendQueryString="true" />
        </rule>
        <rule name="version/1.0" stopProcessing="true">
          <match url="^version/(1.0|2.0)$" />
          <action type="Rewrite" url="versioninfo.php?version={R:1}" appendQueryString="true" />
        </rule>
        <rule name="version/all" stopProcessing="true">
          <match url="^version/all$" />
          <action type="Rewrite" url="versioninfoall.php" appendQueryString="true" />
        </rule>
        <rule name="version/platform" stopProcessing="true">
          <match url="^version/(android|ios|linux|mac|web|windows|developer)$" />
          <action type="Rewrite" url="versioninfo.php?platform={R:1}" appendQueryString="true" />
        </rule>
        <rule name="version/platform/v" stopProcessing="true">
          <match url="^version/(android|ios|linux|mac|web|windows|developer)/(1.0|2.0)$" />
          <action type="Rewrite" url="versioninfo.php?platform={R:1}&amp;version={R:2}" appendQueryString="true" />
        </rule>
        <!-- history -->
        <rule name="history/platform" stopProcessing="true">
          <match url="^history/(android|ios|linux|mac|web|windows|developer)$" />
          <action type="Rewrite" url="historydata.php?platform={R:1}" appendQueryString="true" />
        </rule>
        <rule name="history/platform/v" stopProcessing="true">
          <match url="^history/(android|ios|linux|mac|web|windows|developer)/(1.0|2.0)$" />
          <action type="Rewrite" url="historydata.php?platform={R:1}&amp;version={R:2}" appendQueryString="true" />
        </rule>
        <rule name="history/v" stopProcessing="true">
          <match url="^history/(1.0|2.0)$" />
          <action type="Rewrite" url="historydata.php?version={R:1}" appendQueryString="true" />
        </rule>
        <!-- keyboard -->
        <rule name="keyboard/v" stopProcessing="true">
          <match url="^keyboard/(1.0)/(.+)$" />
          <action type="Rewrite" url="keyboard.php?version={R:1}&amp;id={R:2}" appendQueryString="true" />
        </rule>
        <rule name="keyboard/" stopProcessing="true">
          <match url="^keyboard/(.+)$" />
          <action type="Rewrite" url="keyboard.php?id={R:1}" appendQueryString="true" />
        </rule>
        <!-- model -->
        <rule name="model/v" stopProcessing="true">
          <match url="^model/(1.0)/(.+)$" />
          <action type="Rewrite" url="model.php?version={R:1}&amp;id={R:2}" appendQueryString="true" />
        </rule>
        <rule name="model/" stopProcessing="true">
          <match url="^model/(.+)$" />
          <action type="Rewrite" url="model.php?id={R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
